<div class="m-4 p-4">
  <%= simple_form_for(@profile) do |f| %>
    <%= f.input :name %>
    <%= f.input :bio %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn-arted" %>
    <%= button_to "Back", profile_path(@profile), class: "btn btn-arted", data: {turbo: :false}, method: :get%>
  <% end %>
</div>
