<div class="container my-5">
  <div class="row">
  <% if @profile.name.present? %>
    <div class="col-lg-4">
      <% if @profile.photo.key? %>
        <div class="h-100">

          <div class="card-category h-100 w-100" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
                              url('<%= cl_image_path @profile.photo.key, crop: :scale %>')"></div>
        </div>
      <% end %>
    </div>

    <div class="col-lg-8 ">
      <h1><%= @profile.name %></h1>
      <p><%= @profile.bio %></p>
      <%# doesn't show the Contact link if you're on your own profile %>
      <% if !policy(@profile).edit? %>
        <%= mail_to @profile.user.email, "Contact #{@profile.name}", class: "btn btn-arted" %>
      <% end %>
        <% if policy(@profile).edit? %>
          <%= button_to "Edit your profile", edit_profile_path(@profile), class: "btn-arted my-1", data: { turbo: :false }, method: :get %>
          <%= button_to "Back to all Artworks", artworks_path, data: { turbo: :false }, class: "btn-arted my-1", method: :get %>
          <div class="d-flex justify-content-between">
            <%= button_to "Upload an Artwork", new_artwork_path, class: "btn-arted my-1", data: { turbo: :false }, method: :get if policy(Artwork).new? %>
            <%= button_to "Delete your Account", @profile, data: { turbo: :false }, class: "btn-red text-right", method: :delete %>
          </div>
          <br>
        <% end %>
        <div class="py-5"></div>
        <div class="py-5"></div>
    </div>


    <div class="row py-5">
      <h2>My Artworks:</h2>
      <div class="py-2"></div>
      <% @profile.artworks.each_slice(3) do |artworks| %>
        <div class="row">
          <% artworks.each do |artwork| %>
              <div class="col-lg-4">
                <div class="card mb-4">
                  <div class="artist-infos">
                    <p><%= artwork.profile.name %></p>
                    <%= link_to profile_path(artwork.user) do %>
                      <div class= "avatar">
                        <% if artwork.user.profile.photo.key %>
                          <%= cl_image_tag artwork.user.profile.photo.key, width: 250, height: 250, radius: 125, crop: :thumb, gravity: :face %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                  <div class="h-75">
                    <%= link_to artwork_path(artwork) do %>
                    <div class="card-category h-100 w-100" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
                                url('<%= cl_image_path artwork.photos.first.key, crop: :scale %>')"></div>
                    <% end %>
                  </div>
                  <div class="artist-infos">
                    <h2><%= artwork.title %></h2>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
  <% else %>
    <%= button_to "Edit your profile", edit_profile_path(@profile), class: "btn-arted", data: { turbo: :false }, method: :get %>
    <br>
    <br>
    <%= button_to "Delete your Account", @profile, data: { turbo: :false }, class: "btn-red", method: :delete %>
  <% end %>
</div>
