<div class="container my-5">
  <div class="row">
  <% if @profile.name.present? %>
    <div class="col-4">
      <% if @profile.photo.key? %>
      <div><%= cl_image_tag @profile.photo.key, crop: :scale %></div>
      <% end %>
    </div>
    <div class="col-8">
      <h1><%= @profile.name %></h1>
      <p><%= @profile.bio %></p>
      <%# doesn't show the Contact link if you're on your own profile %>
      <% if !policy(@profile).edit? %>
        <%= mail_to @profile.user.email, "Contact #{@profile.name}" %>
      <% end %>
        <% if policy(@profile).edit? %>
          <%= link_to "Edit your profile", edit_profile_path(@profile) %>
          <br>
          <%= link_to "Delete your Account", @profile, data: { turbo_method: :delete } %>
        <% end %>
        <h2>Artworks:</h2>
        <% @profile.artworks.each do |artwork| %>
          <div class="card">
            <div class="artist-infos">
              <p><%= artwork.user.email %></p>
              <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-user avatar-bordered" />
            </div>
            <div>
              <%= link_to artwork_path(artwork) do %>
                <%= cl_image_tag artwork.photos.first.key, height: 300, width: 400, crop: :fill %>
              <% end %>
            </div>
            <div class="artwork">
              <div class="artwork-infos">
                <h2><%= artwork.title %></h2>
                <p><%= artwork.description %></p>
              </div>
              <h2 class="artwork-pricing"><%= artwork.price %></h2>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <% else %>
    <%= link_to "Edit your profile", edit_profile_path(@profile) %>
    <br>
    <%= link_to "Delete your Account", @profile, data: { turbo_method: :delete } %>
  <% end %>
</div>
