<div class="container my-5">
  <div class="row">
    <div class="col-4">
      <% if @profile.photo.key? %>
      <div class="vh-100" style="background-image: url('<%= cl_image_path @profile.photo.key, crop: :fill %>')"></div>
      <% end %>
    </div>
    <div class="col-8">
      <h1><%= @profile.name %></h1>
      <p><%= @profile.bio %></p>
    </div>
  </div>
</div>

<% if @profile.name %>
  <% if policy(@profile).edit? %>
    <%= link_to "Edit your profile", edit_profile_path(@profile) %>
  <% end %>
<% else %>
  <% if policy(@profile).edit? %>
    <%= link_to "Make a new profile", edit_profile_path(@profile) %>
  <% end %>
<% end %>

<%= button_to "Delete your profile", @profile, method: :delete if policy(@profile).destroy? %>
