
  <div class="container py-4">
    <div class="row py-4">
      <div class="col-lg-8 py-2">
        <%= form_with url: artworks_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find an artwork or artist"
          %>
          <%= submit_tag "Search", class: "btn btn-secondary" %>
        <% end %>
      </div>
      <div class="col-lg-4 py-2 d-flex justify-content-center">
          <%= button_to "Upload your artwork", new_artwork_path, class: "btn-arted", data: { turbo: :false }, method: :get if policy(Artwork).new? %>
      </div>
    </div>
    <div class="py-2"></div>
    <% @artworks.each_slice(3) do |artworks| %>
      <div class="row">
        <% artworks.each do |artwork| %>
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="artist-infos">
                  <p><%= artwork.profile.name %></p>
                  <%= link_to profile_path(artwork.user) do %>
                    <div class= "avatar">
                      <% if artwork.user.profile.photo.key %>
                        <%= cl_image_tag artwork.user.profile.photo.key, width: 250, height: 250, radius: 125, crop: :thumb, gravity: :face %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <div class="h-75">
                  <%= link_to artwork_path(artwork) do %>
                  <div class="card-category h-100 w-100" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),
                              url('<%= cl_image_path artwork.photos.first.key, crop: :scale %>')"></div>
                  <% end %>
                </div>
                <div class="artist-infos">
                  <h2><%= artwork.title %></h2>
                </div>
              </div>
            </div>

        <% end %>
      </div>
    <% end %>
  </div>

  <div class="text-center">
    <h1>Artists</h1>
  </div>

  <div class="grid-container">
    <% if @profiles %>
      <% @profiles.each do |profile| %>
          <div class="card">
            <div>
              <%= link_to profile_path(profile) do %>
                <%= cl_image_tag profile.photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
            </div>
            <div class="general">
              <div>
                <h2><%= profile.name %></h2>
                <p><%= profile.bio %></p>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
