
  <div class="container py-4">


    <div class="row py-4">
      <div class="col-8">
        <%= form_with url: artworks_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find an artwork or artist"
          %>
          <%= submit_tag "Search", class: "btn btn-info" %>
        <% end %>
      </div>
      <div class="col-4 d-flex justify-content-end">
          <%= link_to "Upload your artwork", new_artwork_path, class: "btn btn-warning" if policy(Artwork).new? %>
      </div>
    </div>

<div class="py-2">    </div>

    <% @artworks.each_slice(3) do |artworks| %>
      <div class="row">
        <% artworks.each do |artwork| %>

            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="artist-infos">
                  <p><%= artwork.profile.name %></p>
                  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-user avatar-bordered" />
                </div>
                <div>
                  <%= link_to artwork_path(artwork) do %>
                    <%= cl_image_tag artwork.photos.first.key, height: 300, width: 400, crop: :fill %>
                  <% end %>
                </div>
                <div class="general">
                  <div>
                    <h2><%= artwork.title %></h2>
                    <p><%= artwork.description %></p>
                  </div>
                  <h2><%= "#{artwork.price.to_i}€" %></h2>
                </div>
              </div>
            </div>

        <% end %>
      </div>
    <% end %>

  </div>
  <div class="text-center">
    <h1>Artists</h1>
  </div>
  <div class="grid-container">
    <% if @profiles %>
      <% @profiles.each do |profile| %>
          <div class="card">
            <div>
              <%= link_to profile_path(profile) do %>
                <%= cl_image_tag profile.photo.key, height: 300, width: 400, crop: :fill %>
              <% end %>
            </div>
            <div class="general">
              <div>
                <h2><%= profile.name %></h2>
                <p><%= profile.bio %></p>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
