<div class="container my-5">
  <div class="row">
    <div class="col-8">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-image" style="background-image: url('<%= cl_image_path @artwork.photos.first.key, crop: :fill %>')"></div>
          </div>
          <% @artwork.photos[1..].each do |photo| %>
            <div class="carousel-item">
              <div class="carousel-image" style="background-image: url('<%= cl_image_path photo.key, crop: :fill %>')"></div>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-4">
      <h1>Title: <%= @artwork.title %></h1>
      <p><%= @artwork.description %></p>
      <h4>Price: <%= @artwork.price %>€</h4>
      <h4>Shipping: <%= @artwork.shipping_costs %>€</h4>
      <%= link_to "Buy this artwork", new_transaction_path %>
    </div>
  </div>
</div>

<% if policy(@artwork).edit? %>
  <%= link_to "Edit this artwork", edit_artwork_path(@artwork) %>
<% end %>

<%= button_to "Destroy this artwork", @artwork, method: :delete if policy(@artwork).destroy? %>
