<div class="container my-5">
  <div class="row">
    <div class="col-8">
      <% if @artwork.photos.size > 1 %>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-image" style="background-image: url('<%= cl_image_path @artwork.photos.first.key, crop: :fill %>')"></div>
            </div>
            <% @artwork.photos[1..].each do |photo| %>
              <div class="carousel-item">
                <div class="carousel-image" style="background-image: url('<%= cl_image_path photo.key, crop: :fill %>')"></div>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% else %>
        <%#= cl_image_tag @artwork.photos.first.key, crop: :fill %>
        <div class="carousel-image" style="background-image: url('<%= cl_image_path @artwork.photos.first.key, crop: :fill %>')"></div>
      <% end %>
    </div>
    <div class="col-4">
      <h1><%= @artwork.title %></h1>
      <p><%= @artwork.description %></p>
      <h2><%= link_to @artwork.profile.name, profile_path(@artwork.profile) %></h2>
      <h4>Price: <%= @artwork.price %>€</h4>
      <h4>Shipping: <%= @artwork.shipping_costs %>€</h4>
      <%= button_to "Back to results", artworks_path, class: "btn-arted", data: { turbo: :false }, method: :get %>
      <% if !policy(@artwork).edit? %>
        <button type="button" class="btn btn-arted" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Buy this artwork
        </button>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Please confirm your purchase</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to buy? The artist will confirm and ship your artwork within 24h.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-arted" data-bs-dismiss="modal">Back</button>
                <%= button_to "Buy now", artwork_artwork_transactions_path(@artwork), data: { turbo_method: :post }, class: "btn-arted" %>
              </div>
            </div>
          </div>
        </div>
        <br>
        <%= mail_to @artwork.user.email, "Contact #{@artwork.profile.name}" %>
        <br>
      <% end %>
      <% if policy(@artwork).edit? %>
        <%= button_to "Edit this artwork", edit_artwork_path(@artwork), class: "btn-arted", data: { turbo: :false }, method: :get %>
      <% end %>
      <br>
      <% if policy(@artwork).destroy? %>
        <br><br><br>
        <%= link_to "Delete this Artwork",
          artwork_path(@artwork),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
          class: "delete"
        %>
      <% end %>
      <br>
    </div>
  </div>
</div>
