<div class="banner">
  <div class="overlay">
    <h1>Arted helps you find the perfect <strong>artwork</strong> from your <strong>local artist</strong>!</h1>
    <p>Discover our artists and their artworks or sell your own creations.</p>
    <%= link_to "Start discovering", artworks_path, class: "btn btn-ghost" %>
  </div>
</div>

<div class="grid-container">
  <% @artworks.each do |artwork| %>
    <div class="card">
      <div class="artist-infos">
        <p><%= artwork.profile.name %></p>
        <%= link_to profile_path(artwork.user) do %>
            <div class= "avatar"><%= cl_image_tag artwork.user.profile.photo.key, width: 250, height: 250, radius: 125, crop: :thumb, gravity: :face %></div>
          <% end %>
      </div>
      <%= link_to artwork_path(artwork) do %>
        <%= cl_image_tag artwork.photos.first.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <div class="artwork">
        <div class="artwork-infos">
          <h2><%= artwork.title %></h2>
          <p><%= artwork.description %></p>
        </div>
        <h2 class="artwork-pricing"><%= artwork.price %></h2>
      </div>
    </div>
  <% end %>
</div>
